<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>top page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
---Play---
<p th:text="${Next.getName()}"></p>
---NextMusic--
<p th:text="${Songs.get(0).getName()}"></p>
<p th:text="${Songs.get(1).getName()}"></p>
<p th:text="${Songs.get(2).getName()}"></p>
<p th:text="${Songs.get(3).getName()}"></p>
<p th:text="${Songs.get(4).getName()}"></p>
<form method="get">
    <button type="update">NEXT</button>
</form>
</body>
</html>
